@import './base.css';

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    place-items: center;
  }
}
